<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li>Night chat</li>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li><button onclick="logout()">Logout</button></li>
        </ul>
    </nav>
    <hr>
    <div class="flex flex-col items-center">
        <img src="{{ url_for('static', path='night_chat.gif') }}">
        <h2>Your nickname: <span id="nick"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'></ul>
    </div>

    <script>
        function logout() {
            window.location.replace("http://0.0.0.0:8000/auth");
        }

        async function getLastMessages() {
            const url = 'http://0.0.0.0:8000/chat/last_messages'
            const response = await fetch(url, {
                method: 'GET'
            })
            return response.json()
        }

        getLastMessages()
            .then(messages => {
                messages.forEach(msg => {
                    appendMessage(msg.message)
                })
            })

        function appendMessage(msg) {
            let messages = document.getElementById('messages')
            let message = document.createElement('li')
            let content = document.createTextNode(msg)
            message.appendChild(content)
            messages.appendChild(message)
        }

        let login = localStorage.getItem("login");
        document.querySelector("#nick").textContent = login;
        if (login == null) {
            logout();
        }
        let ws = new WebSocket(`ws://0.0.0.0:8000/chat/ws/${login}`);
        ws.onmessage = function (event) {
            appendMessage(event.data)
        };

        function sendMessage(event) {
            let input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
</body>
</html>